@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(84, 84, 84);
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    h2 {
        width: 100%;
        margin: 50px 0;
        color: white;
    }
}



.card {
    flex-basis: calc(100% / 4);
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;

    .poster-container {
        width: 100%;
        height: 456px;
        text-align: center;
        transition: opacity 0.6s;

        img {
            max-width: 100%;
            height: 100%;
        }
    }


    .text-container {
        height: 456px;
        overflow-y: auto;
        padding: 20px;
        display: none;
        transition: opacity 1s;

        * {
            margin: 10px 0;
        }

        .lang-container {
            width: 100%;

            img {
                max-width: 15%;
            }
        }

        .fa-star {
            color: yellow;
        }
    }

    &:hover .poster-container {
        display: none;
        opacity: 0;

    }

    &:hover .text-container {
        display: block;
        opacity: 1;

    }


}